asgiref==3.3.0
certifi==2020.6.20
dj-database-url==0.5.0
Django=3.1.2
django-heroku==0.3.1
gunicorn==20.1.0
psycopg2 @ file:///C:/ci/psycopg2_1594303009470/work
pytz==2020.1
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
whitenoise @ file:///home/conda/feedstock_root/build_artifacts/whitenoise_1626463713199/work
wincertstore==0.2
